<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Cbpm:</b>
  <%= @exercise.cbpm %>
</p>

<p>
  <b>Intensity:</b>
  <%= @exercise.intensity %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
